body { font-family: "Helvetica Neue", sans; font-size: 1.4rem; margin: 3rem auto; width: 80%; }

body form textarea { font-family: 'Monaco', 'Consolas', 'Courier New', monospace; height: 30rem; padding: 1rem; width: 100%; }
body form input[type='submit'] { background-color: #60b044; background-image: linear-gradient(#8add6d, #60b044); border: 1px solid #5ca941; color: #ffffff; font-size: 1rem; font-weight: 500; padding: 0.5rem 1rem; text-shadow: 0 -1px 0 rgba(0,0,0,0.15); }