<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href='/stylesheets/normalize.css' type='text/css'>
</head>
<body>

  <form>
    <textarea><%= @content['contents'] %></textarea>
  </form>

</body>
</html>